/* Style rules for mobile viewport */

/*style rules for new nav*/
/* Style the navigation menu */
.topnav {
  position: fixed;
  padding: 0px;
  color: #fff;
  background-color: #fff;
  width: 100%;
  margin: 0;
  height: 40px;
  padding-bottom: 10px;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: #000;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: #fff;
  color:  #006747;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.regularNav{
  display: none;
}

.mobileLogo{
  width: 35%;
}

.mobileLinks a{
  color:  #006747;
}

.mobileLinks a:hover{
  color:  #006747;
  background-color: #D2D6D3;
}


/* Style rules for main content */
body, main, p, h1, h2, h3, h4{
  font-family: "Dosis", sans-serif;
}

.row {
  display: flex;
  width: 100%;
}

body{
  padding-top: 0px;
  background-color: #fff;
  margin:0px;
  background-image: url("../media/mobile-bg-green.jpg")


}

body h1{
  color: #006747;
  text-align: center;
}

form{
   width: 100%;
   margin:0;
 }

form-grid{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

select{
  padding: 3px;
  margin: 5px;
}

.options{
  cursor: pointer;
}
.container{
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-top: 0px;
}

.form-container{
width: 85%;
height: auto;
background-color: #fff;
margin-top: 0px;
margin-bottom: 10px;
padding: 20px 10px 20px 10px;
text-align: center;
margin: 10px;
font-size: smaller;
}

.access-container{
  width: 100%;
  margin: 0%;
  background-color: #fff;
  color:  #0C8E33;
  font-size: 1.5em;
  padding-top: 50px;
}

.access-container a{
  color: #0C8E33;
  text-decoration: none;
}

.access-container a:hover{
  text-decoration: none;
  color: gray;
}

main a{
  color:#1ABD43;
  text-decoration: none;
}

main a:hover{
  text-decoration: none;
  color: gray;
}


#go-down{
  height: 80px;
}

.grid-container{
  /*background-image: url("../media/mobile-bg-green.jpg");*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: grid;
  padding: 50px 5px 30px 5px;
  justify-content: center;
  margin: 0;
}

.grid-styles{
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-columns: auto auto;
  width: 90%;
  height: auto;
  padding: 10px;
  justify-content: center;
}

.grid-styles img{
  width: 100%;
  display: flex;
}

.grid-item a{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.grid-item a:hover {
  opacity: 0.7;
}

.ca-container{
  display: grid;
  row-gap: 20px;
  column-gap: 10px;
  grid-template-columns:auto;
  width: 90%;
  height: auto;
  padding: 10px;
}

/*Style rules for footer*/
footer{
  text-align: center;
  font-size: 13px;
  padding: 10px;
  color: #fff;
  background-color: gray;
  width: 100%;
  margin: 0;
}

.footerRow img{
  width: 80%;
  align-items:center;
  padding-left: 40px;
}

.footerRow{
  padding: 10px;
  color: #fff;
  background-color: #fff;
  width: 100%;
  margin: 0;
}

@media screen and (min-width: 400px), print{
  .regularNav{
    display: none;
  }

  .grid-container{
    background-image: url("../media/nw-adminbuilding.jpg");
    width: 100%;
    margin: 0px;
    padding: 10px;
    padding-left: 20px;
  }

  .mobileLogo{
    width: 35%;
    margin-left: 20px;
  }


  footer{
    background-color:#006747;
    color: #fff;
  }

  .ca-container{
    display: grid;
    row-gap: 20px;
    column-gap: 10px;
    grid-template-columns:auto;
    width: 90%;
    height: auto;
    padding: 10px;
  }

  .navbar{
    padding-top: 40px;
    font-size: 8%;
  }
}

@media screen and (min-width: 600px), print{
  .topnav{
    display: none;
  }

  .topnav a{
    display: none;
  }

  .topnav #myLinks{
    display: none;
  }

  .topnav a.icon{
    display: none;
  }

  .mobileLogo{
    display: none;
  }

  .mobileLinks{
    display: none;
  }
  .regularNav{
    display: contents;
  }

  /*style rules for header */
  .topBar{
    position: fixed;
    padding: 10px;
    color: #fff;
    background-color: #fff;
    width: 100%;
    margin: 0;
    height: 70px;
    padding-bottom: 10px;

  }
  .logo{
    width: 30%;
    position: absolute;
    padding-top: 20px;
    margin-left: 0%;
  }

  /* Style rules for navigation area */
  .navbar{
    width: 300px;
    height: 100%;
    background-color: #006747;
    position: fixed;
    margin-top: 0%;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40% 0 0 30%;
    transition: right 0.8s cubic-bezier(1, 0, 0, 1);
    padding-bottom: 10px;
  }

  .change{
    right: 0;
  }

  .hamburger-menu{
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
  }

  .line{
    width: 100%;
    height: 3px;
    background-color: #A6A6A6;
    transition: all 0.8s;
  }

  .change .line-1{
    transform: rotateZ(-405deg) translate(-8px, 6px);
  }

  .change .line-2{
    opacity: 0;
  }

  .change .line-3{
    transform: rotateZ(405deg) translate(-8px, -6px);
  }

  .nav-list{
    text-align: right;
    padding-top: 80px;
  }

  .nav-item{
    list-style: none;
    margin: 15px;
  }

  .nav-link{
    text-decoration: none;
    font-size: 12px;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
  }

  .nav-link::before, .nav-link::after{
    content: " ";
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
  }

  .nav-link::after{
    bottom: 0;
    transform-origin: right;
  }

  .nav-link::before{
    top: 0;
    transform-origin: left;
  }

  .nav-link:hover::before, .nav-link:hover::after{
    transform: scaleX(1);
  }
  .ca-container{
    display: grid;
    row-gap: 20px;
    column-gap: 10px;
    grid-template-columns:auto;
    width: 90%;
    height: auto;
    padding: 10px;
}
.nav-list{
  text-align: right;
  padding-top: 30px;
}

.nav-link{
  font-size: 13px;
}
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {

  /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
  .tablet-desktop {
    display: block;
  }

  .nav-list{
    text-align: right;
    padding-top: 40px;
  }

  .mobile {
    display: none;
  }



  .grid-container{
    background-image: url("../media/nw-adminbuilding.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  .grid-styles{
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: auto auto auto auto;
    width: 90%;
    height: auto;
    padding: 10px;
    justify-content: center;
  }

  .logo{
    width: 20%;
    position: fixed;
    padding-top: 10px;
  }

  .footerRow img{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  footer{
    background-color:#006747;
    color: #fff;
  }

  .form-container{
  width: 90%;
  height: auto;
  background-color: #fff;
  margin-top: 0px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  justify-content: center;
  }

  .ca-spacing{
    padding-top:120px;
  }


  .ca-container{
    display: grid;
    row-gap: 20px;
    column-gap: 10px;
    grid-template-columns:auto;
    width: 90%;
    height: auto;
    justify-content: center;
  }

  /* .checkapp-cont{
    display: grid;
    grid-template-columns: auto;
    width: 90%;
    justify-content: center;
    row-gap: 20px;
    padding: 10px;
  } */


  /* Tablet Viewport: Style rule for header */


  /* Tablet Viewport: Style rules for nav area */


  /* Tablet Viewport: Style rules for main content area */


  }

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print {

  /* Desktop Viewport: Style rule for header */


  /* Desktop Viewport: Style rules for nav area */

  /* Desktop Viewport: Style Rules for main content */


}

/* Media Query for Large Desktop Viewport */
@media screen and (min-width: 1921px) {
  #container {
    width: 1920px;
    margin: 0 auto;
  }
}

/* Media Query for Print */
@media print {
  body {
    background-color: #fff;
    color: #000;
  }
}
